*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}
body{
    background: #222;
}

.card{
 
    max-width: 470px;
    background: linear-gradient(135deg, #17a76d,#5643d1);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 27px;
    padding:40px 35px;
    text-align: center;
   
   
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffe;
    color: #df0f43;
    padding: 10px 25px;
    height: 70px;
    font-size: 22px;

}
.search button{ 
     border: 0;
    outline: 0;
    background: #ebfffe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: #df0f43;
    
    

}
.search button img{
    width: 30%;
    margin-top: 6px;
    

}

.weather-icon{
    width:170px;
    margin-top: 40px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
     margin-top: 6px;
     
}
.floating-banner {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #1e94d8, #73abf5);
  color: rgb(240, 82, 34);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: float 2.5s ease-in-out infinite;
  z-index: 10;
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}


@media (max-width: 480px) {
  .card {
    font-size: 14px;
  }

  .card input {
    width: 100%;
  }
}
